pkgbase = colorpickle
	pkgdesc = Linux screen color picker: pick a pixel or drag-select a region, get the color in any common format, copy it.
	pkgver = 0.2.2
	pkgrel = 1
	url = https://github.com/dcog989/ColorPickle
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-only
	makedepends = pkgconf
	makedepends = rust
	depends = gcc-libs
	depends = glibc
	depends = libx11
	depends = libxcb
	depends = libxcursor
	depends = libxi
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = libxrandr
	depends = libglvnd
	depends = mesa
	depends = wayland
	optdepends = xdg-desktop-portal: screenshot fallback
	source = colorpickle-0.2.2.tar.gz::https://github.com/dcog989/ColorPickle/archive/refs/tags/v0.2.2.tar.gz
	sha256sums = SKIP

pkgname = colorpickle
